# Horizontal chatmenu sample

# You can set your own config file here
set baseConfigFile "volt.config.tcl.sample"
puts "==> Inherit: $baseConfigFile"
source $baseConfigFile

# \[ because "[" and "]" are special parents in tcl
set tmpl_a_prefix " \["
set tmpl_b_prefix " \["
set tmpl_s_prefix " \["
set tmpl_a_suffix "\]"
set tmpl_b_suffix "\]"
set tmpl_s_suffix "\]"

# move menu to bottom

set menu_alien_tmpl "
    rect 6 350 600 190
    visible 1
    decoration
    forecolor 45 45 45 1
    textscale 0.25
    autowrapped
    textstyle ITEM_TEXTSTYLE_SHADOWED
    cvartest cg_chatmenu"

set menu_human_tmpl "
    rect 6 370 600 190
    visible 1
    decoration
    forecolor 45 45 45 1
    textscale 0.25
    autowrapped
    textstyle ITEM_TEXTSTYLE_SHADOWED
    cvartest cg_chatmenu"

set menu_spectator_tmpl "
    rect 6 400 600 190
    visible 1
    decoration
    forecolor 45 45 45 1
    textscale 0.25
    autowrapped
    textstyle ITEM_TEXTSTYLE_SHADOWED
    cvartest cg_chatmenu"
